<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RandomNum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9EADCFA1BCF49C40056DACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9EADD131BCF49C50056DACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9EADD1E1BCF49C50056DACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
